.App{
	text-align: center;
	font-size: 35px;
	margin-top: 5%;
}

.App-title{
	font-size: 50px;
}

.Clock{
	display: inline;
	margin: 10px;
}

.Clock-days{
	/*display: inline;*/
}

.Clock-hours{
	/*display: inline;*/
}

.Clock-minutes{
	/*display: inline;*/
}

.Clock-seconds{
	/*display: inline;*/
}

.Deadline-input{
	font-size: 25px;
	margin: 5px;
}